eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0   # Trace all requests (100%)
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
